
<div class="foot">
<p class="foot-text">SRINIVAS UNIVERSITY</p>
</div>
<!-- <footer>
    <div class="foot"></div>
        <p class="foot-text">SRINIVAS UNIVERSITY</p>
    </div>
</footer>-->
</body>


</html>