<div class="b1-sticky">
<div class="b1">
    <div class="side">
        <button class="b2" style="--clr:#FF44CC"><a href="/Home"><span>Home</span></a><i></i></button>
        <button class="b2" style="--clr:#FF44CC"><a href="/Programs"><span>Programs</span><i></i></a></button>
        <button class="b2" style="--clr:#FF44CC"><a href="/Institutes"><span>Institutes</span><i></i></a></button>
        <button class="b2" style="--clr:#FF44CC"><a href="/AboutUs"><span>About Us</span><i></i></a></button>
        <button class="b2" style="--clr:#FF44CC"><a href="/Video"><span>Video</span><i></i></a></button>
    </div>
</div>
</div>