<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>

<div class="about">
    <div class="vertical-menu m4">
        <a href="#" class="active">ABOUT US <i class="fa-solid fa-caret-down"></i></a>
        <a href="/AboutUs1">SRINIVAS UNIVERSITY</a>
        <a href="/AboutUs2">UNIVERSITY BODIES</a>
        <a href="/AboutUs3">RECOGNITION & ACREDIATION</a>
      </div>
    </div>

<div class="about1"></div>
    <div class="about2">
        <li style="padding: 5px;"><a href="#">ABOUT SRINIVAS GROUP</a></li>
        <li style="padding: 5px;"><a href="#">ABOUT SRINIVAS UNIVERSITY</a></li>
        <li style="padding: 5px;"><a href="#">VISION AND MISSION</a></li>
        <li style="padding: 5px;"><a href="#">OBJECTIVES AND CORE VALUES</a></li>
        <li style="padding: 5px;"><a href="#">CHANCELLOR</a></li>
        <li style="padding: 5px;"><a href="#">CHANCELLOR'S MESSAGE</a></li>
        <li style="padding: 5px;"><a href="#">PRO CHANCELLER</a></li>
        <li style="padding: 5px;"><a href="#">PRO CHANCELLOR'S MESSAGE</a></li>
        <li style="padding: 5px;"><a href="#">VICE CHANCELLOR</a></li>
        <li style="padding: 5px;"><a href="#">REGISTAR</a></li>
        <li style="padding: 5px;"><a href="#">REGISTAR EVALUATION</a></li>
        <li style="padding: 5px;"><a href="#">REGISTAR DEVELOPMENT</a></li>
    </div>

<%- include("partials/footer.ejs") %>