<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>



<div class="about">
    <div class="vertical-menu m4">
        <a href="#" class="active">ABOUT US <i class="fa-solid fa-caret-down"></i></a>
        <a href="/AboutUs1">SRINIVAS UNIVERSITY</a>
        <a href="/AboutUs2">UNIVERSITY BODIES</a>
        <a href="/AboutUs3">RECOGNITION & ACREDIATION</a>
      </div>
    </div>

<%- include("partials/footer.ejs") %>