<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>

<div class="about">
    <div class="vertical-menu m4">
        <a href="#" class="active">ABOUT US <i class="fa-solid fa-caret-down"></i></a>
        <a href="/AboutUs1">SRINIVAS UNIVERSITY</a>
        <a href="/AboutUs2">UNIVERSITY BODIES</a>
        <a href="/AboutUs3">RECOGNITION & ACREDIATION</a>
      </div>
    </div>

<div class="about1"></div>
    <div class="about2">
    <li style="padding: 5px;"><a href="#">UGC PERMISSION</a></li>
    <li style="padding: 5px;"><a href="#">HIGHER EDUCATION COUNCIL</a></li>
    <li style="padding: 5px;"><a href="#">SRINIVAS UNIVERSITY ACT</a></li>
    <li style="padding: 5px;"><a href="#">SRINIVAS UNIVERSITY STATUS LETTER BY UGC</a></li>
    <li style="padding: 5px;"><a href="#">AIU MEMBERSHIP</a></li>
    <li style="padding: 5px;"><a href="#">DSIR RECOGNITION</a></li>
    <li style="padding: 5px;"><a href="#">AICTE PERMISSION FOR ENGINEERING & TECHNOLOGY</a></li>
    <li style="padding: 5px;"><a href="#">SRINIVAS UNIVERSITY NITI AAYOG REGISTRATION</a></li>
</div>

<%- include("partials/footer.ejs") %>