<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>

<div class="about">
    <div class="vertical-menu m4">
        <a href="#" class="active">ABOUT US <i class="fa-solid fa-caret-down"></i></a>
        <a href="/AboutUs1">SRINIVAS UNIVERSITY</a>
        <a href="/AboutUs2">UNIVERSITY BODIES</a>
        <a href="/AboutUs3">RECOGNITION & ACREDIATION</a>
      </div>
    </div>

<div class="about1"></div>
    <div class="about2">
    <li style="padding: 5px;"><a href="#">BOARD OF GOVERNERS</a></li>
    <li style="padding: 5px;"><a href="#">BOARD OF MANAGEMENT</a></li>
    <li style="padding: 5px;"><a href="#">ACADEMIC COUNCIL</a></li>
    <li style="padding: 5px;"><a href="#">FINANCE COMMITTEE</a></li>
    <li style="padding: 5px;"><a href="#">RESEARCH & INNOVATION COUNCIL</a></li>
    <li style="padding: 5px;"><a href="#">BOARD OF STUDIES</a></li>
    <li style="padding: 5px;"><a href="#">ANTI RAGGING COMMITTEE</a></li>
    <li style="padding: 5px;"><a href="#">ETHICAL CLEARANCE COMMITTEE</a></li>
    <li style="padding: 5px;"><a href="#">GRIEVANCE REDRESSAL COMMITTEE</a></li>
    <li style="padding: 5px;"><a href="#">ADVISORY BOARD</a></li>
    <li style="padding: 5px;"><a href="#">FEE REGULATION COMMITTEE</a></li>
</div>

<%- include("partials/footer.ejs") %>