<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>

<div class="campus">
        <div class="c1 c">
            <div class="ct">Srinivas University Campus</div>
        </div>
        <div class="c2 c">
            <div class="ct">Srinivas University City</div>
        </div>
        <div class="c3 c">
            <div class="ct">Srinivas University Administrative Office </div>
        </div>
</div>

<div class="home">
    <div class="home-img"></div>
    <div class="home-icons">
        <p class="p-icon"> <i class="fa-brands fa-facebook"></i></p>
        <p class="p-icon"> <i class="fa-brands fa-linkedin"></i></p>
         <p class="p-icon"><i class="fa-brands fa-instagram"></i></p>
         <p class="p-icon"><i class="fa-solid fa-thumbs-up"></i></p>
     </div>

     <div class="prof">
        <div class="prof-p">
            <p>Shri Dr. CA A. Raghavendra Rao
                Chancellor, Srinivas University & President A.Shama Rao Foundation, Mangaluru
                
                My aim is to transform Society through education by setting up academic institutions in dynamic equilibrium with its social, ecological and economic environment striving continuously for excellence in education, research and technological service to the nation.</p>
        </div>
     </div>
     <div class="prof-photo"></div>
</div>

<%- include("partials/footer.ejs") %>