<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>

<div class="institutes">
    <div class="i1 ii">
        <img src="styles/i1.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Management and <br>Commerce College</div>
    </div>
    <div class="i2 ii">
        <img src="styles/i2.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute Hotel Management <br>Tourism</div>
    </div>
    <div class="i3 ii">
        <img src="styles/i3.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Physiotherapy</div>
    </div>
    <div class="i4 ii">
        <img src="styles/i4.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Allied Health<br>Science</div>
    </div>
    <div class="i5 ii">
        <img src="styles/i5.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Engineering and <br>Technology</div>
    </div>
    <div class="i6 ii">
        <img src="styles/i6.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Nursing Science</div>
    </div>
    <div class="i7 ii">
        <img src="styles/i7.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of CS and <br>IS</div>
    </div>
    <div class="i8 ii">
        <img src="styles/i8.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Social Science and<br>Humanities</div>
    </div>
    <div class="i9 ii">
        <img src="styles/i9.jpg" height="200px" width="300px" alt="img">
        <div class="i1t">Institute of Education</div>
    </div>
</div>

<%- include("partials/footer.ejs") %>