<%- include("partials/header.ejs") %>

<%- include("partials/sidebar") %>

<div class="vertical-menu m1">
    <a href="#" class="active">UNDERGRADUATE</a>
    <a href="#">B.Tech <br> (Computer Science Engineering)</a>
    <a href="#">B.Tech <br> (Civil Engineering)</a>
    <a href="#">B.Tech <br> (Electronics & Communication Engineering)</a>
    <a href="#">B.Tech <br> (Mechanical Engineering)</a>
    <a href="#">B.Tech <br> (AI and ML)</a>
    <a href="#">BCA <br> (Bachelor og Computer Application)</a>
    <a href="#">B.Sc <br> (Clinical physchology)</a>
    <a href="#">B.Sc <br> (Foreignsic science and Criminology)</a>
    <a href="#">B.Sc <br> (Digital and Cyber Foreignsic Science)</a>
    <a href="#">B.Sc <br> (Perfusion Technology)</a>
    <a href="#">B.Sc <br> (CArdiovascular Technology)</a>
    <a href="#">BA <br> (Journalism and Mass Communication</a>
    <a href="#">BPT <br> (Physiotherapy)</a>
    <a href="#">B.Ed <br> (Education)</a>
    <a href="#">BSW <br> (Bachelor of Social Work)</a>
  </div>

<div class="vertical-menu m3">
    <a href="#" class="active">RESEARCH</a>
    <a href="#">Ph.D. <br> (Engineering,Management,Computer Science,Social Work,Physiotherapy)</a>
    <a href="#">D.Sc <br> (Engineering, Management Health)</a>
  </div>
<div class="vertical-menu m2">
    <a href="#" class="active">POSTGRADUATE</a>
    <a href="#">M.Tech <br> (Computer Science Engineering)</a>
    <a href="#">M.Tech <br> (Civil Engineering)</a>
    <a href="#">M.Tech <br> (Mechanical Engineering)</a>
    <a href="#">M.Sc <br> (Foreignsic Science and Criminology)</a>
    <a href="#">M.Sc <br> (Clinical physchology)</a>
    <a href="#">M.Sc <br> (Foreignsic Science)</a>
    <a href="#">MBA <br> (Master of Buisness Administration)</a>
    <a href="#">MPT <br> (Physiotherapy)</a>
    <a href="#">M.Com.</a>
    <a href="#">MCA <br> (Master of Computer Application)</a>
  </div>

<%- include("partials/footer.ejs") %>